*{
    border:0;
    margin: 0;
    font-family: "Roboto", sans-serif;

}
header{
    background-color: #1f2937;
    display: flex;
    padding: 58px;
    flex-direction: column;
    padding-top: 10px;
    justify-content: space-between;
}
.subtext{
    color: rgba(255, 255, 255, 0.772);
}
.awesome{
    font-size: 50px;
}
a{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.fsign{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 15px;
    background-color: #3882F6;
    color: white;
    flex-grow: 0;
    width: 100px;
    margin-top: 10px;
}
.placeholder{
    padding: 50px;
    background-color: grey;
    margin-left: 500px;
    justify-content: center;
}
.evr{
    display: flex;
}
.headerlogo{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    font-size: larger;
}
h2{
    color: white;
    padding: auto;
    margin: auto;
    margin-left: 0;
}
.signin{
    display: flex;
    color: white;
    flex-direction: column;
    width: 500px;
}
a{
    display: flex;
    justify-content: space-between;
}
gray{
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 50px;
}
.quote{
    font-family: "Italic" sans-serif;
    font-size: 36px;
}
.thor{
    margin-left: 800px;
    font-style: italic;
    font-size: 36px;
    font-weight: 1000;
}
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.call{
    display: flex;
    margin: 100px;
    flex-direction: column;
}
.action{
    font-size: large;
}
footer{
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 10px;
}